.card {
  height: 300px;
  width: 200px;
  border: 1px solid red;
  flex-shrink: 0;
}

#header {
  background-color: white;
  box-shadow: 0px -5px 10px black;
  display: flex;
  padding: 16px;
  position: sticky;
}

#header a {
  font-size: large;
}

#hero {
  background: rgb(225, 255, 253);
  background: linear-gradient(
    127deg,
    rgba(225, 255, 253, 1) 0%,
    rgba(184, 196, 255, 1) 50%,
    rgba(152, 250, 229, 1) 100%
  );
  background-repeat: no-repeat;
  height: 20vh;
}

#content {
  box-shadow: 0px -10px 40px white;
  border: 1px solid red;
}

#footer {
  height: 100px;
  background-color: white;
  box-shadow: 0px 0px 100px white;
}
