button {
  width: 100%;
  padding: 8px;
  border-radius: 16px;
  border: 1px solid lightgray;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.card {
  height: 300px;
  width: 200px;
  border: 1px solid red;
  flex-shrink: 0;
  flex-direction: row;
  border-radius: 16px;
}

.card a {
  border: 1px solid black;
  border-radius: 16px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 8px;
  width: 100%;
}

#header {
  background-color: white;
  box-shadow: 0px -5px 10px black;
  display: flex;
  padding: 16px;
  position: sticky;
}

#header a {
  font-size: large;
  color: rgb(53, 53, 53);
}

#about {
  margin: 48px;
}

#hero {
  background: rgb(225, 255, 253);
  background: linear-gradient(
    127deg,
    rgba(225, 255, 253, 1) 0%,
    rgba(184, 196, 255, 1) 50%,
    rgba(152, 250, 229, 1) 100%
  );
  background-repeat: no-repeat;
  height: 5vh;
}

#content {
  box-shadow: 0px -10px 40px white;
}

#footer {
  height: 100px;
  background-color: white;
  box-shadow: 0px 0px 100px white;
}
